body{
    background-color: rgb(77, 77, 147);
    font-family: 'Times New Roman', Times, serif;
    font-size: 110%;
    color: brown;
}

.current{
    color: rgb(84, 145, 83);
}

a {
    text-decoration: none;
    background-color: rgb(155, 145, 146);
    display: inline-block;
    padding: 0.5px;
    margin: 0.25rem 0.50rem;
    border-radius: 0.5rem;
    box-shadow: 0.0rem 0.0rem 0.0rem color rgb(80, 62, 62) green rgb(56, 56, 137));
}

a:hover{
    background-color: rgb(218, 97, 32);
    box-shadow: 0.5rem 0.5rem;
}

#bc{
    width: 25%;
    border-radius: 3rem;
    box-shadow: 0.5rem 0.5rem 0.95;
}